[submodule "project"]
	path = project
	url = https://github.com/cutec-chris/promet-app-project-dx.git
[submodule "times"]
	path = times
	url = https://github.com/cutec-chris/promet-app-times-dx.git
[submodule "config"]
	path = config
	url = https://github.com/cutec-chris/promet-app-config-dx.git
[submodule "tasks"]
	path = tasks
	url = https://github.com/cutec-chris/promet-app-tasks-dx.git
[submodule "meeting"]
	path = meeting
	url = https://github.com/cutec-chris/promet-app-meeting-dx.git
[submodule "appbase"]
	path = appbase
	url = https://github.com/cutec-chris/promet-appbase-dx.git
[submodule "codebase"]
	path = codebase
	url = https://github.com/cutec-chris/dhtmlx.git
[submodule "cars"]
	path = cars
	url = https://github.com/cutec-chris/promet-app-cars-dx.git
[submodule "documents"]
	path = documents
	url = https://github.com/cutec-chris/promet-app-documents-dx.git
[submodule "statistics"]
	path = statistics
	url = https://github.com/cutec-chris/promet-app-statistics-dx.git
[submodule "masterdata"]
	path = masterdata
	url = https://github.com/cutec-chris/promet-app-masterdata-dx.git
[submodule "messages"]
	path = messages
	url = https://github.com/cutec-chris/promet-app-messages-dx.git
